@using Sitecore.Mvc

<div class="two-col-container container">
    <div class="row">
        <div class="p-detail col-left col-xs-12 col-sm-7">
            @Html.Sitecore().Placeholder("partner-left")
        </div>

        <div class="t-details col-right col-xs-12 col-sm-5">
            @Html.Sitecore().Placeholder("partner-right")
        </div>
    </div>
</div>