@using Sitecore.Mvc

<div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            @Html.Sitecore().Placeholder("partner-left")
        </div>
        <div class="col-xs-12 col-sm-6">
            @Html.Sitecore().Placeholder("partner-right")
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.Sitecore().Placeholder("partner-form")
        </div>
    </div>
</div>
