<?xml version="1.0" encoding="utf-8"?>
<!--

Purpose: This include file defines the indexes used by the content testing feature of Sitecore when using the SOLR content search provider.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <!-- Index used to store the data that is used for suggesting tests for an item. -->
          <index id="sitecore_suggested_test_index" type="Sitecore.Support.ContentSearch.SolrProvider.SwitchOnRebuildSolrSearchIndex, Sitecore.Support.398622">
            <param desc="name">$(id)</param>
            <param desc="core">$(id)</param>
            <param desc="rebuildcore">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                <fieldNames hint="raw:AddFieldByFieldName">
                  <field fieldName="impact" returnType="double" />
                  <field fieldName="potential" returnType="double" />
                  <field fieldName="recommendation" returnType="double" />
                </fieldNames>
              </fieldMap>
              <documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
                <indexAllFields>false</indexAllFields>
                <exclude hint="list:AddExcludedTemplate">
                  <folder>{A87A00B1-E6DB-45AB-8B54-636FEC3B5523}</folder>
                  <mainSection>{E3E2D58C-DF95-4230-ADC9-279924CECE84}</mainSection>
                </exclude>
                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="parsedowner" returnType="string" type="Sitecore.ContentTesting.ContentSearch.ComputedIndexFields.ParsedOwner, Sitecore.ContentTesting" />
                  <field fieldName="friendlyowner" returnType="string" type="Sitecore.ContentTesting.ContentSearch.ComputedIndexFields.FriendlyOwner, Sitecore.ContentTesting" />
                  <field fieldName="host" returnType="string" type="Sitecore.ContentTesting.ContentSearch.ComputedIndexFields.HostItemPartial, Sitecore.ContentTesting" />
                  <field fieldName="hosturi" returnType="string" type="Sitecore.ContentTesting.ContentSearch.ComputedIndexFields.HostItem, Sitecore.ContentTesting" />
                  <field fieldName="_searchtext" returnType="string" type="Sitecore.ContentTesting.ContentSearch.ComputedIndexFields.TestSearchContent, Sitecore.ContentTesting" />
                  <field fieldName="suggestion" returnType="string" type="Sitecore.ContentTesting.ContentSearch.ComputedIndexFields.SuggestedTests, Sitecore.ContentTesting" />
                  <field fieldName="impact" returnType="double" type="Sitecore.ContentTesting.ContentSearch.ComputedIndexFields.TestImpactMetric, Sitecore.ContentTesting" />
                  <field fieldName="potential" returnType="double" type="Sitecore.ContentTesting.ContentSearch.ComputedIndexFields.TestPotentialMetric, Sitecore.ContentTesting" />
                  <field fieldName="recommendation" returnType="double" type="Sitecore.ContentTesting.ContentSearch.ComputedIndexFields.TestRecommendationMetric, Sitecore.ContentTesting" />
                </fields>
              </documentOptions>
            </configuration>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentTesting.ContentSearch.SpecificSitecoreItemCrawler, Sitecore.ContentTesting">
                <Database>master</Database>
                <!-- Limit this parameter to the root of the content of the site. -->
                <Root>/sitecore/content</Root>
              </crawler>
            </locations>
          </index>    
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>
