.homepagefeatured-4col {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;

	.homepagefeatured-4col-label {
		.OpenSans700;
		font-size: 28px;
		font-weight: bold;
		line-height: 1.07;
		color: @gr-500;
		margin-bottom: 20px;
		margin-top: 0;
	}	
}