.homepage-purpose {
  text-align: center;
  margin: 40px auto;

  &__features {
    display: none;
  }

  &__description {
    margin: 0;
  }

  &__title {
    color: @gr-500;
    margin-top: 0;
  }
}