.homepage-purpose {
  text-align: center;
  width: 60%;

  &__features {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__description {
    padding-bottom: 20px;
  }

  &__title {

  }

  &__text {

  }
}