.homepage-hero {
  background-image: url('/Areas/BridgeStreet/Assets/Local/Images/Man-Street.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  height: 100vh;
  width: 100vw;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
  }

  &__form {
    font-size: 0;

    &-input {
      border-radius: 0;
      font-size: 14px;
      padding: 20px;
    }
  }

  &__title {
    color: #ffffff;
  }
}

.slogan-site {
  float: left;
  display: table;
  height: 90px;
  margin-left: 30px;
}

.slogan-site .content-slogan {
  font-family: "Myriad Pro Bold Condensed";
  color: rgb(240, 240, 240);
  font-weight: bold;
  display: table-cell;
  vertical-align: bottom;
  font-size: 30px;
  padding-bottom: 17px;
}