.homepage-hero {
  background-image: url('/Areas/BridgeStreet/Assets/Local/Images/Man-Street.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: @gr-600;
  height: 100vh;
  width: 100vw;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: row;
    font-size: 0;

    &-input {
      border-radius: 0;
      color: @gr-500;
      font-size: 14px;
      padding: 30px 20px;

      &-wrapper {
        position: relative;

        &--carret {
          &::after {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid @gr-200;
            content: '';
            cursor: pointer;
            height: 0;
            position: absolute;
            top: 36px;
            right: 20px;
            width: 0;
          }

          input {
            cursor: pointer;
          }
        }
      }
    }

    &-submit-button {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      -webkit-transition: .3s all ease;
      -moz-transition: .3s all ease;
      -ms-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      background-color: @or-100;
      border: 0;
      color: #fff;
      font-size: 16px;
      font-weight: normal;
      overflow: hidden;
      padding: 30px 24px;
      text-align: center;
      vertical-align: middle;

      &:hover {
        background-color: @or-200;
      }
    }

    .dropdown-toggle {
      color: #464646;
    }

    .custom-drop-down {
      margin: 0;
      padding: 10px 0;

      .wrapper {
        align-items: center;
        display: flex;
      }

      .dropdown-input-label {
        font-size: 13px;
      }

      .guest-fg__done-button {
        border: 1px solid @gr-100;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        background-color: #fff;
        color: @gr-200;
        padding: 8px 10px;
        background-color: rgba(0,0,0,0);
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0 10px 0 0;
        width: 100%;
      }

      .bedroom-selector {
        &::after {
          content: '';
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          position: absolute;
          right: 25px;
          bottom: 45%;
          display: block;
          width: 9px;
          height: 9px;
          border: 3px solid @gr-400;
          border-top: none;
          border-right: none;
          z-index: -1;
        }

        .bedroom-type {
          border: 1px solid @gr-100;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          background-color: @white;
          color: @gr-200;
          display: inline-block;
          padding: 8px 10px;
          width: 100%;
          background-color: rgba(0,0,0,0);
          -webkit-appearance: none;
          -moz-appearance: none;
        }
      }
    }
  }

  &__title {
    color: @white;
  }
}

.slogan-site {
  float: left;
  display: table;
  height: 90px;
  margin-left: 30px;
}

.slogan-site .content-slogan {
  font-family: "Myriad Pro Bold Condensed";
  color: rgb(240, 240, 240);
  font-weight: bold;
  display: table-cell;
  vertical-align: bottom;
  font-size: 30px;
  padding-bottom: 17px;
}