/*****************************  TITLES  **************************************************/

.slogan-site {
  float: left;
  display: table;
}

.slogan-site .content-slogan {
  font-family: "Myriad Pro Bold Condensed";
  color: rgb(240, 240, 240);
  font-weight: bold;
  display: table-cell;
  vertical-align: bottom;
  font-size: 30px;
  padding-bottom: 13px;
}

h1.blue {
  font-size: 86px;
  font-family: "Myriad Pro Bold Condensed";
  color: rgb(4, 29, 66) !important;
  line-height: 1;
  text-align: center;
  z-index: 72;
}

h4.blue  {
  font-family: "Myriad Pro Condensed";
  color: rgb(4, 29, 66) !important;
  line-height: 1;
  font-weight: normal ;
}

.homepage-hero .hero-item .hero-messaging h4 {
  font-size: 50px !important;
}

.homepage-hero .full-video-container {
  opacity: 0.4;
}

@media screen and (min-device-width: 1440px) and (max-device-width: 1950px){
  .homepage-hero .hero-item .hero-messaging h1 {
    font-size: 67px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  h1.blue {
    font-size: 47px !important;
    padding-left: 50px;
  }
}

@media (min-width: 768px) {
  .slogan-site  {
    height: 90px;
    margin-left: 30px;
  }
}
/*****************************  TITLES  **************************************************/

/*****************************  FORM   **************************************************/

.hero-form {
  margin-left: auto;
  margin-right: auto;
}

.hero-form form {
  text-align: center;
}
.location-fg ,
.date-fg     ,
.guest-fg {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
}


.location-fg label,
.date-fg     label,
.guest-fg    label {
  font-size: 36px;
  font-family: "Myriad Pro Condensed";
  color: rgb(4, 29, 66) !important;
  width: 100%;
}

.location-fg input[type=text],
.date-fg     input[type=text],
.guest-fg    input[type=text] {
  border: none;
  color:#878787;
  font-family: "Myriad Pro Condensed";
  width: 100%;
  font-size: 30px;
  padding-left: 0px;
  background-color: white;
}

.location-fg,
.date-fg,
.guest-fg {
  border: 1px solid #4eccc4;
  background-color: white;
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;
}

/* Guest Field */
.guest-fg {
  display: inline-block;
  vertical-align: middle;
}

.guest-fg .dropdown-menu li {
  float: left;
  width: 100%;
}
.btn-search-fg {
  float: left;
}
.btn-search {
  font-family: "Myriad Pro Bold Condensed";
  border: 0;
  padding: 11px 18px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 60px;
  height: 94px;
  transition: .3s all ease;
  -webkit-transition: .3s all ease;
  -moz-transition: .3s all ease;
  -ms-transition: .3s all ease;
  -o-transition: .3s all ease;
  color: #fff;
  background-color: #e17000;
  display: table-cell;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  width: 170px;
}
.btn-search a {
  font-weight: bold !important;
}

.alt-header .desktop-search {
  background-color: #041d42 !important;
}


@media screen and (min-width: 1440px) and (max-width: 1950px){
  .hero-form {
    width: 1600px !important;
  }
}

@media (min-width: 768px) {
  .slogan-site  {
    height: 90px;
    margin-left: 30px;
  }
}
/********************************************************************************/
/*******************Three Icon Blurp ********************************************/


.three-icon-blurp {
  background-color: transparent !important;
}
.three-icon-blurp .three-icon-blurp-container .three-icon-blurp-wrapper .three-icon-blurp-item .bubble {
  background-color: transparent !important;
}

.three-icon-blurp .three-icon-blurp-container .three-icon-blurp-wrapper .three-icon-blurp-item .bubble p {
  font-family: "Myriad Pro Bold Condensed";
  color: #041d42;
}

@media screen and (min-device-width: 1440px) and (max-device-width: 1950px){

  .three-icon-blurp {
    bottom: 150px;
  }

}

@media (min-width: 1200px) and (max-width: 1440px) {

  .three-icon-blurp {
    bottom: 50px;
  }

}
/********************************************************************************/
/******************* Homepage Purpose ********************************************/
.homepagepurpose {
  padding-top: 50px;
  padding-bottom: 50px;
}
.homepagepurpose-image {
  max-width: 80%;
}
.homepagepurpose .title{
  text-align: center;
  font-family: "Baskerville Semibold" !important;
  color:#041d42  !important;
  font-size: 50px  !important;
}

.homepagepurpose .top-img{
  text-align: center;
}
.homepagepurpose .text {
  text-align: center;
  font-family: "Myriad Pro Condensed" !important;
  color: #505e73  !important;
  font-size: 40px  !important;
}

@media screen and (min-device-width: 1440px) and (max-device-width: 1950px){

  .homepagepurpose .text {
    font-size: 40px !important;
  }

}

@media (min-width: 1200px) and (max-width: 1440px) {

  .homepagepurpose .text {
    font-size: 30px !important;
  }

}

/******************* Image  Purpose ********************************************/

.homepage-3col .homepage-3col-items .homepage-3col-item {
  position: relative;
  padding: 5px;
  background-color: white;
}