@using Glass.Mapper.Sc.Web.Mvc

@inherits GlassView<BridgeStreet.Website.Domain.Models.Generic.ImageContent>

<div id="@Model.AnchorName" class="generic-content-module image-left row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        @RenderImage(Model, x => x.Image, isEditable: true, parameters: new { @class = "img-responsive" })
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <h3 class="h3">@Editable(Model, i => i.Title)</h3>
        }

        @Editable(Model, i => i.RichText)
    </div>
</div>