@using Glass.Mapper.Sc.Web.Mvc
@inherits GlassView<BridgeStreet.Website.Domain.Models.Components.Media.VideoGallery.MediaVideo>

<div class="media-video">
    @Html.Partial("~/Areas/Bridgestreet/Views/Renderings/Partials/_VideoEmbedChooser.cshtml", Model)
</div>