@using Glass.Mapper.Sc.Web.Mvc
@inherits GlassView<BridgeStreet.Website.Domain.Models.Base.PageBase>

<section class="page-title row">
    <div class="col-xs-12">
        <h1>@Editable(Model, i => i.Title)</h1>
    </div>
</section>