.homepage-hero {
	height: 800px;

	.hero-item {
		.hero-messaging {
			h1 {
				font-size: 44px;
			}

			h4 {
				font-size: 40px;
			}
		}

		.three-icon-blurp {
			display: block;
		}

		.video-btn {
			i {
				margin: 20px 0;
				font-size: 60px;
			}
		}
	}
}
