.homepage-purpose {
  &__features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-item {
      .img-svg {
        height: 55px;
      }

      .bubble {
        display: flex;
        align-items: center;
      }

      &-text {
        font-size: 14px;
        font-weight: 600;
        color: @gr-500;
        margin: 10px;
      }

      #svg-animate-bathtub {
        height: 52px;
      }
    }
  }

  &__description {
    margin: 50px 0 0;
  }
}