.homepage-hero {
  height: 100vh;
  width: 100vw;

  &__form {
    &-input {
      &-wrapper {
        &:first-child {
          width: 230px;

          .homepage-hero__form-input {
            padding: 31px 10px;
            text-align: center;
          }
        }

        &:nth-child(2) {
          width: 220px;

          .homepage-hero__form-input {
            padding: 29px 38px 29px 10px;
            text-align: center;
          }
        }

        &:nth-child(3) {
          width: 215px;
        }
      }
    }
  }
}