.homepage-hero {
  height: 380px;

  &__content {
    padding-top: 120px;

    & > .container {
      padding: 0;
    }
  }

  &__form {
    &-input {
      &-wrapper {
        &:first-child {
          width: auto;
          flex-grow: 1;

          .homepage-hero__form-input {
            padding: 31px 10px;
            text-align: center;
          }
        }

        &:nth-child(2) {
          width: 30%;

          .homepage-hero__form-input {
            padding: 29px 38px 29px 10px;
            text-align: center;
          }
        }

        &:nth-child(3) {
          width: 28%;
        }
      }
    }
  }

  &__title {
    font-size: 26px;
  }
}