.topsearchbox {
  height: 100px;
  border-bottom: 1px @gr-100 solid;
  align-items: center;
  display: flex;
  justify-content: center;

  &__title {
    align-items: center;
    display: flex;
    height: 100px;
    margin-right: 10px;
  }

  &__input-wrapper {
    width: 100px;
    position: relative;

    &--carret {
      &::after {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid @gr-300;
        content: '';
        cursor: pointer;
        height: 0;
        position: absolute;
        top: 20px;
        right: 10px;
        width: 0;
      }
    }

    &-location {
      width: 20%;
    }

    &-dates {
      width: 15%;
    }

    &-guests {
      width: 15%;
    }
  }

  &__input-element {
    padding-left: 15px;
    width: 100%;
    min-height: 50px;

    &.highlight {
      border: 1px solid @or-100;
    }

    &-location {
      background-image: url('/Areas/BridgeStreet/Assets/Local/Images/search-icon.png');
      background-repeat: no-repeat;
      background-size: 22px;
      background-position: 15px center;
      text-align: left;
      padding-left: 45px;
    }
  }

  &__button-wrapper {
    width: 80px;
  }

  &__button {
    align-items: center;
    background-color: @or-100;
    justify-content: center;
    display: flex;
    height: 50px;
    width: 100%;

    &:hover {
      background-color: @or-200;
    }
  }
}

.book-deals-section {
  border-right: 1px solid @gr-100;
  border-bottom: none;
  min-height: 40px;
}

.price-range-slider {
  &__container {
    display: block;
  }
}

.book-deals-section {
  justify-content: flex-start;
}