<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <!-- If no configuration is specified for an index, it uses the default configuration. The configurations are not merged if the index also has a
             configuration. The system uses either the default configuration or the index configuration. -->
        <bridgestreetLocationIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <indexAllFields>false</indexAllFields>
          <initializeOnAdd>true</initializeOnAdd>
          <analyzer ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/analyzer" />
          <fieldReaders ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldReaders"/>
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexFieldStorageValueFormatter"/>
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexDocumentPropertyMapper"/>
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <!-- Sitecore -->
              <field fieldName="_uniqueid"  storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              
              <!-- Bridgestreet -->
              <field fieldName="location type" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.GUID" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>

              <field fieldName="region" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.GUID" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" >
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
            </fieldNames>
          </fieldMap>
          <include hint="list:IncludeField">
            <!-- Page Base Title -->
            <fieldId>{4ACD80D8-DC30-41BA-811E-B2224B77CB4B}</fieldId>
            
            <!-- Includes all fields except Description -->
            
            <!-- Location Type Title -->
            <fieldId>{01E71AC2-22A9-4553-BAA0-23D8E14AA073}</fieldId>
            
            <!-- Location Region Title -->
            <fieldId>{5E12B96F-3C32-4D74-BFFD-53EED91D4C5A}</fieldId>
            
            <!-- Location Name -->
            <fieldId>{58240EB4-1223-4457-AD38-B67913B96281}</fieldId>
            
            <!-- Address Line 1 -->
            <fieldId>{7F7C0CAE-7808-4A1E-AACC-D694DAA93A5B}</fieldId>

            <!-- Address Line 2 -->
            <fieldId>{4E91416E-3D19-4007-A95C-F570DCAA9476}</fieldId>

            <!-- Address Line 3 -->
            <fieldId>{DD8521FA-2ADA-46DF-B29B-D640CBA44981}</fieldId>

            <!-- Address Line 4 -->
            <fieldId>{9C421B2F-670D-4E4F-9CD3-B5F542B32559}</fieldId>

            <!-- Address Line 5 -->
            <fieldId>{A3A0064B-6665-400A-9BC4-AA5E8625FF65}</fieldId>

            <!-- Telephone Number -->
            <fieldId>{9671D4A3-20B9-4C35-AD3A-EF7E5A71D862}</fieldId>

            <!-- Fax Number -->
            <fieldId>{54C2E05F-ED39-4BF8-B9F3-E18DE90B7EE6}</fieldId>

            <!-- Latitude -->
            <fieldId>{76450F4E-2A2C-4099-B5F7-D9656BB6F982}</fieldId>

            <!-- Longitude -->
            <fieldId>{B7C8485D-6F76-4166-AAA3-F988C3A85856}</fieldId>
          </include>
          
          <include hint="list:IncludeTemplate">
            <LocationDetail>{DBBA0CC9-CEC8-4769-9531-A062E1719937}</LocationDetail>
            <LocationType>{817A1A4C-32E5-421C-A28F-1ABD3B4D8446}</LocationType>
            <Region>{4B7CA643-E681-452D-A962-B1A260543095}</Region>
          </include>
        </bridgestreetLocationIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>