<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      
      <httpRequestBegin>
        <processor type="BridgeStreet.Website.Infrastructure.Sc.Pipelines.NotFoundItemResolver, BridgeStreet.Website.Infrastructure.Sc" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
        <processor type="BridgeStreet.Website.Infrastructure.Sc.Pipelines.BucketItemResolver, BridgeStreet.Website.Infrastructure.Sc" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
        <!--<processor type="BridgeStreet.Website.Infrastructure.Sc.Pipelines.PropertyItemResolver, BridgeStreet.Website.Infrastructure.Sc" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>-->
        <!--<processor type="BridgeStreet.Website.Infrastructure.Sc.Pipelines.HttpModeProcessor, BridgeStreet.Website.Infrastructure.Sc" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>-->
        <processor type="Sitecore.Pipelines.HttpRequest.AliasResolver, Sitecore.Kernel">
          <patch:attribute name="type">BridgeStreet.Website.Infrastructure.Sc.Pipelines.AliasProcessor, BridgeStreet.Website.Infrastructure.Sc</patch:attribute>
        </processor>
      </httpRequestBegin>
      
      <preprocessRequest>
        <!-- Allow extra extensions (i.e. txt + xml) -->
        <processor type="Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel">
          <param desc="Allowed extensions (comma separated)">aspx, ashx, asmx, txt, xml</param>
        </processor>
      </preprocessRequest>

      <ArticleOrganizer.MoveItemCompleted>
        <processor type="BridgeStreet.Website.Infrastructure.Sc.Pipelines.RefreshContentTree.RefreshContentTreeProcessor, BridgeStreet.Website.Infrastructure.Sc" />
      </ArticleOrganizer.MoveItemCompleted>
      
      <mvc.getRenderer>
        <processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc">
          <patch:attribute name="type">Bridgestreet.Website.Infrastructure.Sc.Pipelines.ExceptionSafeRendering.GetExceptionSafeViewRenderer, Bridgestreet.Website.Infrastructure.Sc</patch:attribute>
        </processor>
        <processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetControllerRenderer, Sitecore.Mvc">
          <patch:attribute name="type">Bridgestreet.Website.Infrastructure.Sc.Pipelines.ExceptionSafeRendering.GetExceptionSafeControllerRenderer, Bridgestreet.Website.Infrastructure.Sc</patch:attribute>
        </processor>
      </mvc.getRenderer>
    </pipelines>
  </sitecore>
</configuration>
