<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!-- xDB settings -->
      <setting name="Xdb.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="DeviceDetection.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <!-- Google Maps API Key (dev)  Prod Config Override have the production key -->
      <setting name="Bridgestreet.GoogleMaps.ApiKey" value="AIzaSyDwYrNDfsZxcURJ7lWiw2KWKGk9E5yXtPE" />
      <!-- Email settings -->
      <setting name="Bridgesteet.Email.FromAddress">
        <patch:attribute name="value">BridgeStreet@bridgestreet.com</patch:attribute>
      </setting>
      <setting name="Bridgesteet.Email.FromDisplayName">
        <patch:attribute name="value">BridgeStreet</patch:attribute>
      </setting>
      <setting name="Bridgesteet.Email.DefaultEmailRecipient">
        <patch:attribute name="value">Info@BridgeStreet.com</patch:attribute>
      </setting>

      <!-- Property Image settings -->
      <setting name="Bridgestreet.PropertyImages.TestMode">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="Bridgestreet.PropertyImages.ImagePath">
        <patch:attribute name="value">/PropertyImages/FullSize/</patch:attribute>
      </setting>
      <setting name="Bridgestreet.PropertyImages.DefaultImage">
        <patch:attribute name="value">no-image.jpg</patch:attribute>
      </setting>
      <setting name="Bridgestreet.PropertyImages.LogoPath">
        <patch:attribute name="value">https://extranet.BridgeStreet.com/SupplierLogos/</patch:attribute>
      </setting>

      <!-- Data sync settings -->
      <setting name="Bridgestreet.DataSync.AutoPublishProperties">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

      <setting name="Bridgestreet.DataSync.AutoPublishAreas">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

      <!-- Mail server settings (dev) Staging and Prod Override have the production values -->
      <setting name="MailServer">
        <patch:attribute name="value">smtp.sendgrid.net</patch:attribute>
      </setting>
      <setting name="MailServerUserName">
        <patch:attribute name="value">rightpoint</patch:attribute>
      </setting>
      <setting name="MailServerPassword">
        <patch:attribute name="value">chicago1</patch:attribute>
      </setting>
      <setting name="MailServerPort">
        <patch:attribute name="value">587</patch:attribute>
      </setting>

      <!-- Ascent settings -->
      <setting name="AscentFormName">
        <patch:attribute name="value">bgh_local1</patch:attribute>
      </setting>
      <setting name="AscentClientId">
        <patch:attribute name="value">1036</patch:attribute>
      </setting>
      <setting name="AscentSiteId">
        <patch:attribute name="value">500664807</patch:attribute>
      </setting>
      <setting name="AscentPriceId">
        <patch:attribute name="value">78</patch:attribute>
      </setting>
      <setting name="AscentPassword">
        <patch:attribute name="value">234980</patch:attribute>
      </setting>

      <!-- 
      Environment specific settings:

      http://bridgestreet/BookLocal				 		Dev					bgh_local1
      http://bridgestreet.local/Book			 		Local Dev		bgh_local2
      http://bshdev.rightpoint.com/book		 		Dev					bgh_dev
      http://staging.bridgestreet.com/Book		Staging			bgh_staging1
      http://stagingcm.bridgestreet.com/Book	Staging			bgh_staging2
      http://prodcm.bridgestreet.com/Book			Prod				bgh_prod1
      http://beta.bridgestreet.com/Book				Prod				bgh_prod2
      http://www.bridgestreet.com/Book				Prod				bgh_prod3
      -->

      <!-- Add /bundles to ignore paths -->
      <setting name="IgnoreUrlPrefixes">
        <patch:attribute name="value">/services/|/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing|/bundles</patch:attribute>
      </setting>

      <!-- Allow scripts to be entered in the Rich Text fields -->
      <setting name="HtmlEditor.RemoveScripts" value="false"/>

      <!-- Override Default Rich Text Editor -->
      <setting name="HtmlEditor.DefaultProfile">
        <patch:attribute name="value">/sitecore/system/Settings/Html Editor Profiles/Rich Text Medium/</patch:attribute>
      </setting>

      <!--  Query.MaxItems
      The value attribute of this node will determine the maximum number of items in a query result set.
      Note that this setting effects the Sitecore.Data.Database.SelectItems() and Sitecore.Data.Items.Item.Axes.SelectItems() query methods, as well as the other Sitecore.Data.Items.Item.Axes query methods. 
      Ideally, these methods should not be used against a large data set. -->
      <setting name="Query.MaxItems">
        <patch:attribute name="value">500</patch:attribute>
      </setting>

      <!-- Add hyphen to the invalid item characters list -->
      <!--<setting name="InvalidItemNameChars">
        <patch:attribute name="value">\/:?&quot;&lt;&gt;|[]-</patch:attribute>
      </setting>-->

      <!-- Allow Email Addresses as user names -->
      <setting name="AccountNameValidation" value=".+" />

      <!-- Sitecore security hardening recommendation https://doc.sitecore.net/sitecore_experience_platform/81/setting_up__maintaining/security_hardening/configuring/increase_login_security?roles=admin -->
      <setting name="Login.DisableAutoComplete">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

      <!-- Sitecore security hardening recommendation https://doc.sitecore.net/sitecore_experience_platform/81/setting_up__maintaining/security_hardening/configuring/increase_login_security?roles=admin -->
      <setting name="Login.DisableRememberMe">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

    </settings>

    <!-- make urls have a dash in them -->
    <encodeNameReplacements>
      <replace patch:before="*[1]" mode="on" find=" " replaceWith="-" />
    </encodeNameReplacements>

    <!-- custom link manager -->
    <linkManager>
      <patch:attribute name="defaultProvider">bridgestreet</patch:attribute>
      <providers>
        <add name="bridgestreet"
          type="BridgeStreet.Website.Infrastructure.Sc.Providers.BridgeStreetLinkProvider, BridgeStreet.Website.Infrastructure.Sc"
          addAspxExtension="false"
          alwaysIncludeServerUrl="false"
          encodeNames="true"
          languageEmbedding="never"
          languageLocation="filePath"
          lowercaseUrls="true"
          shortenUrls="true"
          siteResolving="true"
          useDisplayName="false" />
        <add name="bridgestreetBucket" type="BridgeStreet.Website.Infrastructure.Sc.Providers.BridgeStreetLinkProvider, BridgeStreet.Website.Infrastructure.Sc" />
        <!--<add name="bridgestreetProperty" type="BridgeStreet.Website.Infrastructure.Sc.Providers.BridgeStreetPropertyLinkProvider, BridgeStreet.Website.Infrastructure.Sc" />-->
      </providers>
    </linkManager>

    <!-- Custom Log File -->
    <log4net>
      <appender name="CustomGeneralLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Custom.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
      <logger name="Bridgestreet.Infrastructure.Diagnostics.CustomLog" additivity="false">
        <level value="INFO" />
        <appender-ref ref="CustomGeneralLogFileAppender" />
      </logger>
    </log4net>

    <contentSearch>
      <indexConfigurations>
        <indexUpdateStrategies>
          <onPublishEndAsyncWebLive type="Sitecore.ContentSearch.Maintenance.Strategies.OnPublishEndAsynchronousStrategy, Sitecore.ContentSearch">
            <param desc="database">weblive</param>
            <!-- Whether or not a full index rebuild should be triggered when the number of items in the EventQueue exceeds the number specified 
               in ContentSearch.FullRebuildItemCountThreshold. -->
            <CheckForThreshold>true</CheckForThreshold>
          </onPublishEndAsyncWebLive>
        </indexUpdateStrategies>
      </indexConfigurations>
    </contentSearch>

  </sitecore>
</configuration>