<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <mvc.renderRendering>
        <processor type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ResolveArea, Sitecore.Mvc">
          <param desc="areaResolver" type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ChainedAreaResolveStrategy, Sitecore.Mvc">
            <Resolvers hint="list">
              <resolver type="BridgeStreet.Website.Infrastructure.Sc.Strategies.SiteAreaResolveStrategy, BridgeStreet.Website.Infrastructure.Sc"/>
            </Resolvers>
          </param>
        </processor>
      </mvc.renderRendering>
    </pipelines>

    <sites>
      <!-- Sitecore security hardening disableXmlControls="true" - http://digital-learnings.blogspot.com/2014/02/sitecore-security-beyond-hardening-guide.html#.WBNRy_krIdV -->
      <site patch:instead="site[@name='website']"
            name="website"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/Bridgestreet"
            startItem="/Home"
            database="web"
            dictionaryDomain="Bridgestreet Dictionary"
            domain="extranet"
            language="en"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="200MB"
            enablePreview="true"
            enableDebugger="true"
            enableWebEdit="true"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="5MB"
            targetHostName=""
            filteredItemsCacheSize="2MB"
            disableClientData="false"
            alias="Bridgestreet"
            disableXmlControls="true" 
            mvcArea="BridgeStreet"/>

      <!--<site patch:before="site[@name='website']"
            name="site2"
            inherits="website"
            virtualFolder="/site2"
            physicalFolder="/site2"
            startItem="/site2"
            mvcArea="Area2"  />-->

    </sites>
  </sitecore>
</configuration>
