@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<BridgeStreet.Website.Domain.Models.Pages.HomePage.HomeFactsPanel.HomeFactsPanel>

<div class="three-icon-blurp container-fluid">
    <div class="container">
        <div class="three-icon-blurp-container col-xs-12 col-xs-offset-0">
            <div class="three-icon-blurp-wrapper row">                

                <div class="three-icon-blurp-item extrapadding col-xs-4">
                    <div class="bubble">
                        <svg id="svg-animate-stopwatch" class="img-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79 87" width="79px" height="87px" version="1.1">
                            <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
                            <title>Stopwatch</title>
                            <desc>Created with Sketch.</desc>
                            <defs />
                            <g id="Symbols" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                <g id="Guarantee-Icons" stroke-width="2" transform="translate(-461 -47)">
                                    <g id="Keys">
                                        <g transform="translate(446 48)">
                                            <g id="Stopwatch" transform="translate(16)">
                                                <path id="Stroke-1" stroke="#0073cf" d="M 75.1047 47.7939 C 75.1047 68.1568 58.598 84.6634 38.2351 84.6634 C 17.8722 84.6634 1.36554 68.1568 1.36554 47.7939 C 1.36554 27.431 17.8722 10.9243 38.2351 10.9243 C 58.598 10.9243 75.1047 27.431 75.1047 47.7939 L 75.1047 47.7939 Z" />
                                                <path id="Stroke-3" stroke="#0073cf" d="M 43.6973 5.46216 C 43.6973 8.47863 41.2516 10.9243 38.2351 10.9243 C 35.2186 10.9243 32.7729 8.47863 32.7729 5.46216 C 32.7729 2.44568 35.2186 0 38.2351 0 C 41.2516 0 43.6973 2.44568 43.6973 5.46216 L 43.6973 5.46216 Z" />
                                                <path id="Stroke-5" stroke="#0073cf" d="M 38.2351 15.0209 L 38.2351 17.752" />
                                                <path id="Stroke-7" stroke="#e17000" d="M 35.504 50.5249 L 19.1175 66.9114" />
                                                <path id="Stroke-9" stroke="#0073cf" d="M 8.19323 17.752 L 12.2926 21.8514" />
                                                <path id="Stroke-11" stroke="#0073cf" d="M 5.46216 47.7939 L 8.19323 47.7939" />
                                                <path id="Stroke-13" stroke="#0073cf" d="M 71.008 47.7939 L 68.277 47.7939" />
                                                <path id="Stroke-15" stroke="#0073cf" d="M 38.2351 80.5668 L 38.2351 77.8357" />
                                                <path id="Stroke-17" stroke="#e17000" d="M 42.3317 47.7939 C 42.3317 50.0566 40.4978 51.8905 38.2351 51.8905 C 35.9724 51.8905 34.1385 50.0566 34.1385 47.7939 C 34.1385 45.5312 35.9724 43.6973 38.2351 43.6973 C 40.4978 43.6973 42.3317 45.5312 42.3317 47.7939 L 42.3317 47.7939 Z" />
                                                <polygon id="Stroke-19" stroke="#0073cf" stroke-linejoin="round" points="12.2899,13.6554 4.09662,21.8486 0,17.752 8.19323,9.55877" />
                                                <path id="Stroke-21" stroke="#0073cf" d="M 68.2797 17.752 L 64.1803 21.8514" />
                                                <polygon id="Stroke-23" stroke="#0073cf" stroke-linejoin="round" points="64.1803,13.6554 72.3736,21.8486 76.4702,17.752 68.277,9.55877" />
                                                <path id="Stroke-25" stroke="#e17000" d="M 38.2351 21.8486 C 52.5637 21.8486 64.1803 33.4653 64.1803 47.7939 C 64.1803 62.1225 52.5637 73.7391 38.2351 73.7391 C 31.0728 73.7391 24.5879 70.8373 19.8918 66.144" />
                                                <path id="Stroke-27" stroke="#e17000" d="M 38.2351 30.0419 C 48.0397 30.0419 55.9871 37.9893 55.9871 47.7939 C 55.9871 57.5984 48.0397 65.5459 38.2351 65.5459 C 33.3342 65.5459 28.8975 63.559 25.6844 60.3473" />
                                                <path id="Stroke-29" stroke="#0073cf" d="M 10.9243 47.7939 L 13.6554 47.7939" />
                                                <path id="Stroke-31" stroke="#0073cf" d="M 16.3865 47.7939 L 19.1175 47.7939" />
                                                <path id="Stroke-33" stroke="#0073cf" d="M 21.8486 47.7939 L 24.5797 47.7939" />
                                                <path id="Stroke-35" stroke="#0073cf" d="M 27.3108 47.7939 L 30.0419 47.7939" />
                                                <path id="Stroke-37" stroke="#0073cf" d="M 38.2351 10.9243 L 38.2351 5.46216" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <p class="text-center">@Editable(m => m.Image1Text)</p>
                    </div>
                </div>

                <div class="three-icon-blurp-item extrapadding col-xs-4 fromBottomIn">
                    <div class="bubble">
                        <svg id="svg-animate-bed" class="img-svg"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 72" width="89px" height="72px" version="1.1">
                            <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
                            <title>Bed</title>
                            <desc>Created with Sketch.</desc>
                            <defs />
                            <g id="Symbols" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                <g id="Guarantee-Icons" stroke-width="2" transform="translate(-676 -61)">
                                    <g id="Clean">
                                        <g transform="translate(667 62)">
                                            <g id="Bed" transform="translate(9)">
                                                <path id="Stroke-1" stroke="#0073cf" d="M 84.8281 40.3725 L 84.8281 69.6078 L 79.2656 69.6078 L 79.2656 61.2549 L 9.73438 61.2549 L 9.73438 69.6078 L 4.17188 69.6078 L 4.17188 40.3725 C 4.17188 34.9905 8.53009 30.6275 13.9063 30.6275 L 75.0938 30.6275 C 80.4699 30.6275 84.8281 34.9905 84.8281 40.3725 L 84.8281 40.3725 Z" />
                                                <path id="Stroke-3" stroke="#0073cf" d="M 11.125 30.6275 L 11.125 9.7451 C 11.125 4.36302 15.4832 0 20.8594 0 L 68.1406 0 C 73.5168 0 77.875 4.36302 77.875 9.7451 L 77.875 30.6275" />
                                                <path id="Stroke-5" stroke="#e17000" d="M 16.6875 26.451 L 16.6875 20.8824 C 16.6875 17.0372 19.7997 13.9216 23.6406 13.9216 L 34.7656 13.9216 C 38.6065 13.9216 41.7188 17.0372 41.7188 20.8824 L 41.7188 26.451" />
                                                <path id="Stroke-7" stroke="#e17000" d="M 47.2813 26.451 L 47.2813 20.8824 C 47.2813 17.0372 50.3935 13.9216 54.2344 13.9216 L 65.3594 13.9216 C 69.2003 13.9216 72.3125 17.0372 72.3125 20.8824 L 72.3125 26.451" />
                                                <path id="Stroke-9" stroke="#0073cf" d="M 80.6563 55.6863 L 8.34375 55.6863" />
                                                <path id="Stroke-11" stroke="#0073cf" d="M 43.1094 5.56863 L 45.8906 5.56863" />
                                                <path id="Stroke-13" stroke="#0073cf" d="M 37.5469 5.56863 L 40.3281 5.56863" />
                                                <path id="Stroke-15" stroke="#0073cf" d="M 48.6719 5.56863 L 51.4531 5.56863" />
                                                <path id="Stroke-17" stroke="#0073cf" d="M 0 69.6078 L 89 69.6078" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <!-- <img src="/Areas/BridgeStreet/Assets/Local/Images/Bed.svg" /> -->
                        <p class="text-center">@Editable(m => m.Image2Text)</p>
                    </div>
                </div>

                <div class="three-icon-blurp-item extrapadding col-xs-4">
                    <div class="bubble">
                        <svg id="svg-animate-device" class="img-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 81" width="58px" height="81px" version="1.1">
                            <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
                            <title>Device</title>
                            <desc>Created with Sketch.</desc>
                            <defs>
                                <polygon id="path-1" points="0,80.3945 57.7836,80.3945 57.7836,0 0,0" />
                            </defs>
                            <g id="Symbols" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                <g id="Guarantee-Icons" transform="translate(-912 -52)">
                                    <g id="Wireless">
                                        <g transform="translate(881 52)">
                                            <g id="Device" transform="translate(31)">
                                                <polygon id="Stroke-1" stroke="#0073cf" stroke-width="2" points="1.25616,11.3055 56.5274,11.3055" />
                                                <path id="Stroke-3" stroke="#0073cf" stroke-width="2" d="M 1.25616 69.089 L 56.5274 69.089" />
                                                <path id="Stroke-5" stroke="#0073cf" stroke-width="2" d="M 56.5274 72.8575 L 56.5274 7.53698 C 56.5274 4.06746 53.7161 1.25616 50.2466 1.25616 L 7.53698 1.25616 C 4.06746 1.25616 1.25616 4.06746 1.25616 7.53698 L 1.25616 72.8575 C 1.25616 76.327 4.06746 79.1383 7.53698 79.1383 L 50.2466 79.1383 C 53.7161 79.1383 56.5274 76.327 56.5274 72.8575 L 56.5274 72.8575 Z" />
                                                <path id="Stroke-7" stroke="#0073cf" stroke-width="2" d="M 21.3548 6.28082 L 36.4288 6.28082" />
                                                <path id="Stroke-9" stroke="#0073cf" stroke-width="2" d="M 26.3794 74.1137 L 31.4041 74.1137" />
                                                <mask id="mask-2" fill="white">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#path-1" />
                                                </mask>
                                                <g id="Clip-12" />
                                                <polygon id="Stroke-11" mask="url(&quot;#mask-2&quot;)" stroke="#0073cf" stroke-width="2" points="6.28082,64.0644 51.5027,64.0644 51.5027,16.3301 6.28082,16.3301" />
                                                <path id="Stroke-13" mask="url(&quot;#mask-2&quot;)" stroke="#e17000" stroke-width="2" d="M 23.8671 42.7979 C 25.3456 41.9424 27.0615 41.4538 28.8918 41.4538 C 30.7233 41.4538 32.4404 41.9437 33.9202 42.8004" />
                                                <path id="Stroke-14" mask="url(&quot;#mask-2&quot;)" stroke="#e17000" stroke-width="2" d="M 20.0986 37.7401 C 22.6361 36.1146 25.6546 35.1725 28.8918 35.1725 C 32.1289 35.1725 35.145 36.1146 37.6837 37.7388" />
                                                <path id="Stroke-15" mask="url(&quot;#mask-2&quot;)" stroke="#e17000" stroke-width="2" d="M 16.3301 32.6996 C 19.9228 30.294 24.244 28.8922 28.8918 28.8922 C 33.5408 28.8922 37.8633 30.2953 41.4559 32.7008" />
                                                <path id="Stroke-16" mask="url(&quot;#mask-2&quot;)" stroke="#e17000" stroke-width="2" d="M 31.4041 50.2466 C 31.4041 51.6334 30.2786 52.7589 28.8918 52.7589 C 27.5037 52.7589 26.3794 51.6334 26.3794 50.2466 C 26.3794 48.8585 27.5037 47.7342 28.8918 47.7342 C 30.2786 47.7342 31.4041 48.8585 31.4041 50.2466 L 31.4041 50.2466 Z" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <p class="text-center">@Editable(m => m.Image3Text)</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
