<footer class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="footer-links-wrapper col-xs-6">
				<ul class="footer-links">
					<li><a href="">Contact Us</a></li>
					<li><a href="">Careers</a></li>
					<li><a href="">FAQ</a></li>
				</ul>
				<ul class="footer-links">
					<li><a href="">Awards</a></li>
					<li><a href="">Vacation Rentals</a></li>
					<li><a href="">All Locations</a></li>
				</ul>
				<ul class="footer-links">
					<li><a href="">Press Releases</a></li>
					<li><a href="">Sitemap</a></li>
					<li><a href="">Privacy Policy</a></li>
				</ul>	
			</div>

			<div class="footer-contact-container col-xs-6 col-sm-5 col-sm-offset-1">
				<h5>If you need us for anything, we're here.</h5>
				<div class="footer-telephone">
				    <p>Americas <span>800 278 7338</span></p>
				    <p>EMEA <span>+44 (0) 20 7792 2222</span></p>
				    <p>APAC <span>+65 9755 5183</span></p>
				</div>                                    				
			</div>
		</div>			
	</div>
</footer>