<div class="footer-social container-fluid">

	<div class="footer-social-wrapper container">
		<div class="footer-social-brands col-sm-4">
			<div class="btn-group">
				<h6>One Big Family</h6>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Our Brands <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="   #">Brand 1</a></li>
					<li><a href="#">Brand 2</a></li>
					<li><a href="#">Brand 3</a></li>
					<li><a href="#">Brand 4</a></li>
				</ul>
			</div>			
		</div>

		<div class="footer-social-signup col-sm-5">
			<form>
		        <div class="email-input">
		        	<h6>Keep In Touch</h6>
		            <input type="email" class="form-control input-field-h" id="inputEmail" placeholder="Your Email Address">                    
		            <button type="submit" class="btn btn-primary">Sign Up</button>
		        </div>
	        </form>			
		</div>

		<div class="footer-social-icons col-sm-3">
			<div class="footer-social-twitter">
				<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
			</div>
			<div class="footer-social-facebook">
				<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
			</div>
			<div class="footer-social-google">
				<a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			</div>						
		</div>
	</div>

</div>