<div class="homepage-hero">
    <div class="slide section active hero-item container-fluid" style="background-image: url(Areas/BridgeStreet/Assets/Local/Images/hero_image_0.jpg);" data-index="1">
        <div class="hero-messaging">
            <h1 class="text-center col-xs-12 hero-alpha">Home, everywhere.</h1>

            <h4 class="text-center hero-alpha">BridgeStreet lorem ipsum sit dolor amet.</h4>
            <i class="fa-play-circle-o"></i>
        </div>
    </div>


<!--     <section class="slide section container-fluid" style="background-image: url(Areas/BridgeStreet/Assets/Local/Images/pattern.jpg); background-repeat: repeat; background-size: inherit;" data-index="4">

        <div class="promise-container container">
            <div class="rows">
                <div class="pattern-messaging always-left-align col-md-6 col-sm-6">
                    <h2 class="extra-margin-h2">we want you to have a great experience from the moment you step into your apartment.</h2>
                    <p>That's why we promise your keys will be delivered on time, your apartment will be clean and comfortable, and your Internet service will be ready to connect you with your life.</p>
                    <p>If we can't fix the problem by midnight, your first night is free and any subsequent night is 50% off, until the problem is resolved.*</p>
                    <p>Why stay anywhere else, when you can live in a BridgeStreet apartment.</p>

                    <div class="legal-container">
                        <p class="legal">* Satisfaction Guarantee is valid for the day of arrival for stays of seven nights or more at BridgeStreet managed, leased, and franchised apartments. Promotion subject to change without notice.</p>
                    </div>
                </div>
                <div id="RevealThis" class="steps-messaging col-md-6 col-sm-6">
                    <ul class="service-quality-container text-center">
                        <li class="gg reveal-content">
                            <div class="icon keys"></div>
                            <span>keys delivered on time</span>
                        </li>
                        <li class="gg reveal-content">
                            <div class="icon clean"></div>
                            <span>clean & confortable</span>
                        </li>
                        <li class="gg reveal-content">
                            <div class="icon internet"></div>
                            <span>internet connectivity</span>
                        </li>
                    </ul>

                </div>

            </div>
        </div>

    </section> -->

</div>
