<div class="homepage-statistics container">
    <div class="homepage-statistics-wrapper toppadding row">
        <div class="homepage-statistics-item extrapadding col-xs-12 col-sm-4">
            <h3 class="timer" data-from="0" data-to="50000"></h3>
            <p>current guests</p>
        </div>
        <div class="homepage-statistics-item extrapadding col-xs-12 col-sm-4">
            <h3>London</h3>
            <p>top trending city</p>
        </div>
        <div class="homepage-statistics-item extrapadding col-xs-12 col-sm-4">
            <h3 class="timer" data-from="0" data-to="10000"></h3>
            <p>active searches</p>
        </div>                
    </div>
</div>
