<div class="homepagepurpose-3col container-fluid">
	<div class="homepagepurpose-3col-wrapper container">
		<div class="row">
			<h2>What you need when you need it.</h2>
			<ul class="">
				<li class="col-xs-12 col-sm-4">
					<i class="fa fa-briefcase"></i>
					<span>For Guests</span>
					<p>Spacious apartments with fully equiped kitchens and housekeeing</p>
				</li>
				<li class="col-xs-12 col-sm-4">
					<i class="fa fa-mobile"></i>
					<span>For Business</span>
					<p>Customized digital booking experience</p>
				</li>
				<li class="col-xs-12 col-sm-4">
					<i class=""></i>
					<span>For Everyone</span>
					<p>24/7 guest experience management and unrivaled satisfaction guarantee</p>
				</li>						
			</ul>
		</div>
	</div>
</div>