<div class="homepagefeatured-4col container" >
	<h2 class="homepagefeatured-4col-label">Featured Properties</h2>
	<ul class="homepagefeatured-4col-pods property-pod-row row">
		<li class="property-pod col-xs-12 col-sm-12 col-md-12 col-lg-3">
			<div class="property-pod-wrapper">
				<div class="property-pod-image-wrapper img-pod-animated">
					<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/property0.jpg" />
					<div class="property-pod-user-br">
						<i class=""></i>
						<span>22</span>
					</div>
				</div>
				<div class="property-pod-description-wrapper">
					<h3>Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
					<h6>Lorem ipsum dolor</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>

				<div class="property-pod-cta-wrapper">
					<div class="btn-view col-xs-4">
						<a class="cta-view-property">View</a>
					</div>

					<div class="price-point col-xs-4">
						<h3>$198</h3>
						<span>per night</span>
					</div>					
				</div>
			</div>				
		</li>

		<li class="property-pod col-xs-12 col-sm-3 col-md-4 col-lg-3">
			<div class="property-pod-wrapper">
				<div class="property-pod-image-wrapper img-pod-animated">
					<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/property1.jpg" />
					<div class="property-pod-user-br">
						<i class=""></i>
						<span>22</span>
					</div>
				</div>
				<div class="property-pod-description-wrapper">
					<h3>Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
					<h6>Lorem ipsum dolor</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>

				<div class="property-pod-cta-wrapper">
					<div class="btn-view col-xs-4">
						<a class="cta-view-property">View</a>
					</div>

					<div class="price-point col-xs-4">
						<h3>$198</h3>
						<span>per night</span>
					</div>					
				</div>				
			</div>	
		</li>

		<li class="property-pod col-xs-12 col-sm-3 col-md-4 col-lg-3">
			<div class="property-pod-wrapper">
				<div class="property-pod-image-wrapper img-pod-animated">
					<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/property2.jpg" />
					<div class="property-pod-user-br">
						<i class=""></i>
						<span>22</span>
					</div>
				</div>
				<div class="property-pod-description-wrapper">
					<h3>Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
					<h6>Lorem ipsum dolor</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>

				<div class="property-pod-cta-wrapper">
					<div class="btn-view col-xs-4">
						<a class="cta-view-property">View</a>
					</div>

					<div class="price-point col-xs-4">
						<h3>$198</h3>
						<span>per night</span>
					</div>					
				</div>				
			</div>	
		</li>

		<li class="property-pod col-xs-12 col-sm-3 col-md-4 col-lg-3">
			<div class="property-pod-wrapper">
				<div class="property-pod-image-wrapper img-pod-animated">
					<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/property3.jpg" />
					<div class="property-pod-user-br">
						<i class=""></i>
						<span>22</span>
					</div>
				</div>
				<div class="property-pod-description-wrapper">
					<h3>Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
					<h6>Lorem ipsum dolor</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>

				<div class="property-pod-cta-wrapper">
					<div class="btn-view col-xs-4">
						<a class="cta-view-property">View</a>
					</div>

					<div class="price-point col-xs-4">
						<h3>$198</h3>
						<span>per night</span>
					</div>					
				</div>				
			</div>	
		</li>				


	</ul>
</div>