<div class="homepage-3col container-fluid">
	<ul class="homepage-3col-items row">
		<li class="homepage-3col-item img-pod-animated col-xs-12 col-sm-4">
			<a href="" class="">
				<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/london.jpg" />
				<div class="va-container-tl">
					<h4 class="homepage-3col-location">London</h4>
					<h5><span>12</span> Properties</h5>
				</div>
				<div class="va-container-br">
					<span class="homepage-3col-price-label">starting at</span>
					<h3>$225</h3>
				</div>
			</a>
		</li>

		<li class="homepage-3col-item img-pod-animated col-xs-12 col-sm-4">
			<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/newyork.jpg" />
			<div class="va-container-tl">
				<h4 class="homepage-3col-location">New York</h4>
				<h5><span>12</span> Properties</h5>
			</div>
			<div class="va-container-br">
				<span class="homepage-3col-price-label">starting at</span>
				<h3>$225</h3>
			</div>
		</li>	

		<li class="homepage-3col-item img-pod-animated col-xs-12 col-sm-4">
			<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/paris.jpg" />
			<div class="va-container-tl">
				<h4 class="homepage-3col-location">Paris</h4>
				<h5><span>12</span> Properties</h5>
			</div>
			<div class="va-container-br">
				<span class="homepage-3col-price-label">starting at</span>
				<h3>$225</h3>
			</div>
		</li>			
	</ul>
</div>