<div class="results-list-map container">

	<div class="results-list-map-wrapper row">

		<div class="property-view">
			<div class="testdiv property-pod-row">
				<div class="property-pod half-padding toppadding15">
					<div class="property-pod-wrapper">
						<div class="property-pod-image-wrapper img-pod-animated">
							<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/property0.jpg" />
							<div class="property-pod-user-br">
								<i class=""></i>
								<span>22</span>
							</div>
						</div>
						<div class="property-pod-description-wrapper">
							<h3>Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
							<h6>Lorem ipsum dolor</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>

						<div class="property-pod-cta-wrapper">
							<div class="btn-view col-xs-4">
								<a class="cta-view-property">View</a>
							</div>

							<div class="price-point col-xs-4">
								<h3>$198</h3>
								<span>per night</span>
							</div>					
						</div>
					</div>	
				</div>

				<div class="property-pod half-padding toppadding15">
					<div class="property-pod-wrapper">
						<div class="property-pod-image-wrapper img-pod-animated">
							<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/property0.jpg" />
							<div class="property-pod-user-br">
								<i class=""></i>
								<span>22</span>
							</div>
						</div>
						<div class="property-pod-description-wrapper">
							<h3>Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
							<h6>Lorem ipsum dolor</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>

						<div class="property-pod-cta-wrapper">
							<div class="btn-view col-xs-4">
								<a class="cta-view-property">View</a>
							</div>

							<div class="price-point col-xs-4">
								<h3>$198</h3>
								<span>per night</span>
							</div>					
						</div>
					</div>	
				</div>	

				<div class="property-pod half-padding toppadding15">
					<div class="property-pod-wrapper">
						<div class="property-pod-image-wrapper img-pod-animated">
							<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/property0.jpg" />
							<div class="property-pod-user-br">
								<i class=""></i>
								<span>22</span>
							</div>
						</div>
						<div class="property-pod-description-wrapper">
							<h3>Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
							<h6>Lorem ipsum dolor</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>

						<div class="property-pod-cta-wrapper">
							<div class="btn-view col-xs-4">
								<a class="cta-view-property">View</a>
							</div>

							<div class="price-point col-xs-4">
								<h3>$198</h3>
								<span>per night</span>
							</div>					
						</div>
					</div>	
				</div>	


				<div class="property-pod half-padding toppadding15">
					<div class="property-pod-wrapper">
						<div class="property-pod-image-wrapper img-pod-animated">
							<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/property0.jpg" />
							<div class="property-pod-user-br">
								<i class=""></i>
								<span>22</span>
							</div>
						</div>
						<div class="property-pod-description-wrapper">
							<h3>Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
							<h6>Lorem ipsum dolor</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>

						<div class="property-pod-cta-wrapper">
							<div class="btn-view col-xs-4">
								<a class="cta-view-property">View</a>
							</div>

							<div class="price-point col-xs-4">
								<h3>$198</h3>
								<span>per night</span>
							</div>					
						</div>
					</div>	
				</div>		

				<div class="property-pod half-padding toppadding15">
					<div class="property-pod-wrapper">
						<div class="property-pod-image-wrapper img-pod-animated">
							<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/property0.jpg" />
							<div class="property-pod-user-br">
								<i class=""></i>
								<span>22</span>
							</div>
						</div>
						<div class="property-pod-description-wrapper">
							<h3>Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
							<h6>Lorem ipsum dolor</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>

						<div class="property-pod-cta-wrapper">
							<div class="btn-view col-xs-4">
								<a class="cta-view-property">View</a>
							</div>

							<div class="price-point col-xs-4">
								<h3>$198</h3>
								<span>per night</span>
							</div>					
						</div>
					</div>	
				</div>	


				<div class="property-pod half-padding toppadding15">
					<div class="property-pod-wrapper">
						<div class="property-pod-image-wrapper img-pod-animated">
							<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/property0.jpg" />
							<div class="property-pod-user-br">
								<i class=""></i>
								<span>22</span>
							</div>
						</div>
						<div class="property-pod-description-wrapper">
							<h3>Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
							<h6>Lorem ipsum dolor</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>

						<div class="property-pod-cta-wrapper">
							<div class="btn-view col-xs-4">
								<a class="cta-view-property">View</a>
							</div>

							<div class="price-point col-xs-4">
								<h3>$198</h3>
								<span>per night</span>
							</div>					
						</div>
					</div>	
				</div>

				<div class="property-pod half-padding toppadding15">
					<div class="property-pod-wrapper">
						<div class="property-pod-image-wrapper img-pod-animated">
							<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/property0.jpg" />
							<div class="property-pod-user-br">
								<i class=""></i>
								<span>22</span>
							</div>
						</div>
						<div class="property-pod-description-wrapper">
							<h3>Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
							<h6>Lorem ipsum dolor</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>

						<div class="property-pod-cta-wrapper">
							<div class="btn-view col-xs-4">
								<a class="cta-view-property">View</a>
							</div>

							<div class="price-point col-xs-4">
								<h3>$198</h3>
								<span>per night</span>
							</div>					
						</div>
					</div>	
				</div>	


				<div class="property-pod half-padding toppadding15">
					<div class="property-pod-wrapper">
						<div class="property-pod-image-wrapper img-pod-animated">
							<img class="img-responsive img-animated" src="Areas/BridgeStreet/Assets/Local/Images/property0.jpg" />
							<div class="property-pod-user-br">
								<i class=""></i>
								<span>22</span>
							</div>
						</div>
						<div class="property-pod-description-wrapper">
							<h3>Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>
							<h6>Lorem ipsum dolor</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>

						<div class="property-pod-cta-wrapper">
							<div class="btn-view col-xs-4">
								<a class="cta-view-property">View</a>
							</div>

							<div class="price-point col-xs-4">
								<h3>$198</h3>
								<span>per night</span>
							</div>					
						</div>
					</div>	
				</div>	
			</div>											
											
		</div>
		<div class="map-view">

		</div>
	</div>

</div>