.homepage-hero {
    .hero-item{
        .hero-messaging {
          h1 {
            font-size: 3.5em;
            font-weight: bold;
          }

          h4 {
            font-size: 50px;
          }
        }

        .hero-form {
            .btn-search-fg {
                margin-top: 0;
            }
        }
    }

    .full-video-container {
        position: absolute;

        .full-video {
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          background: #777;
          z-index: 0;
        }
    }
    .hero-item {
        .hero-form {
            &-input {
                padding: 0 10px 0 0;
            }

            .guest-fg {
                .ui-spinner-horizontal {
                    width: 100%;

                    .ui-spinner-input {
                        margin: 0 auto;
                        width: 100%;
                    }
                }
            }

            .bedroom-selector {
                margin: 10px 0;

                .bedroom-type {
                    width: 100%;
                }

                &::before {
                    left: initial;
                    right: 30px;
                }

                &::after {
                    left: initial;
                    right: 30px;
                }
            }
        }
    }
}
