.homepage-hero {
    .hero-item{
        .hero-messaging {
            h1{
                font-size: 5em;
                font-weight: bold;
            }
        }

        .hero-form {
            .btn-search-fg {
                margin-top: 0;
            }
        }
    }

    .full-video-container {
        position: absolute;

        .full-video {
            background: #777;
        }
    }

    .hero-form-input {
        padding: 0 10px 0 0;
    }
}
